.App {
    text-align: center;
    min-width: 80%;
    min-height: 80%;
    max-width: 100%;
    max-height: 100%;
    background-color: #3c3c3c;
    overflow: scroll;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80vh;
}

.App-header {
  background-color: #2a2a2a;
  height: 150vh;
  padding: 20vw;
  color: #cccccc;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
