.sidebar {
    border-radius: 0;
    width: 320em;
}

.sidebarcontainer {
    position: relative;
    float: left;
    height: 95vh;
    background-color: #37506a;
    width: 20em;
}

.searchBar {
    width: 100em;
    height: auto;
    text-align: center;    
    margin: 0;
}
.courseList {
    height: auto;
    width: 100em;
    text-align: center;    
    margin: 0;
}

.addButton {
    position: absolute;
    background: url(AddButton.png) no-repeat;
    background-size: 2.5em;
    width: 2em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    background-color: #3c3c3c;
}

.navbar-default {
    background-color: #333;
}


.hr1 {
    height: 1em;
    border-top: 1vh solid lightgrey;
    margin: 0;
    padding: 0;
}

.mainSpace {
    background-color: #3c3c3c;
    height: 100%;
}

.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100em;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
    width: 100em;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
    color: white;
    background-color: #444;
}

.full-width-tabs > ul.nav.nav-tabs > li > a:hover {
    text-align: center;
    color: white;
    background-color: #777;
}


.full-width-tabs > ul.nav.nav-tabs > li.active > a,
.full-width-tabs > ul.nav.nav-tabs > li.active > a:hover,
.full-width-tabs > ul.nav.nav-tabs > li.active > a:focus {
    text-align: center;
    color: black;
    background-color: whitesmoke;
}




/* Inactive tab */
.myClass > ul > li > a {
    background-color: white;
    color: red;
}
.myClass ul > li > a:hover {
    background-color: pink;
}

/* Active tab */
.myClass > ul > li.active > a,
.myClass > ul > li.active > a:hover,
.myClass > ul > li.active > a:focus {
    background-color: red;
    color: white;
}

/* Disabled tab */
.myClass > ul > li.disabled > a {
    background-color: lightgray;
    color: darkgray;
}
