.sidebar {
    border-radius: 0px;
    width: 320px;
}

.sidebarcontainer {
    height: 100vh;
    background-color: #307080;
    width: 22vw;
    float: left;
}

.MainSpaceCalendar{
    transition: height 1s;
}
.MainSpace{
    transition: height 1s;
}

.CalendarFull {
    transition: height 1s;
}
.CalendarShrink {
    transition: height 1s;
}