input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.generateScheduleEnabled {
    background-color: #49B;
    color: white; 
    border-color:#49B; 
    float: right; 
    margin: 1.2vh;
    margin-right: .5vw; 
    font-size: 1vw;
    width: 12vw;
    height: 4vh;
}

.generateScheduleEnabled:hover {
    background-color: #38A;
    color: white; 
    border-color:#49B; 
    float: right; 
    margin: 1.2vh;
    margin-right: .5vw; 
    font-size: 1vw;
    width: 12vw;
    height: 4vh;
}

.generateScheduleDisabled:disabled {
    background-color: #DDD;
    color: #555; 
    border-color:#555; 
    float: right; 
    margin: 1.2vh;
    margin-right: .5vw; 
    font-size: 1vw;
    width: 12vw;
    height: 4vh;
    cursor: not-allowed;
}

.switchButtonEnabled {
    background-color: #49B;
    color: white; 
    border-color:#49B; 
    float: right; 
    margin: 1.2vh;
    margin-right: .5vw; 
    font-size: 1vw;
    width: 3vw;
    height: 4vh;
}

.switchButtonEnabled:hover {
    background-color: #38A;
    color: white; 
    border-color:#49B; 
    float: right; 
    margin: 1.2vh;
    margin-right: .5vw; 
    font-size: 1vw;
    width: 3vw;
    height: 4vh;
}

.switchButtonDisabled:disabled {
    background-color: #DDD;
    color: #555; 
    border-color:#555; 
    float: right; 
    margin: 1.2vh;
    margin-right: .5vw; 
    font-size: 1vw;
    width: 3vw;
    height: 4vh;
    cursor: not-allowed;
}

