input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.generateScheduleEnabled {
    background-color: transparent;
    display: block;
    color: #dddddd;
    border-width: 0.1rem;
    border-color: #37506a;
    float: left;
    margin-right: 0.6vw;
    font-size: 1vw;
    width: 12vw;
    height: 4vh;
}

.generateScheduleEnabled:hover {
    background-color: #37506a;
    color: #f2f2f2;
    border-width: 0.1rem;
    border-color:#37506a;
    float: left;
    margin-right: 0.6vw;
    font-size: 1vw;
    width: 12vw;
    height: 4vh;
}

.generateScheduleDisabled:disabled {
    background-color: #DDD;
    color: #555;
    border-color:#555;
    float: left;
    margin-right: 0.6vw;
    font-size: 1vw;
    width: 12vw;
    height: 4vh;
    cursor: not-allowed;
}

.switchButtonEnabled {
    background-color: transparent;
    color: #dddddd;
    border-width: 0.1rem;
    border-color: #37506a;
    float: right;
    margin-right: 0.6vw;
    font-size: 1vw;
    width: 3vw;
    height: 4vh;
}

.switchButtonEnabled:hover {
    background-color: #37506a;
    color: #f2f2f2;
    border-width: 0.1rem;
    border-color: #37506a;
    float: right;
    margin-right: 0.6vw;
    font-size: 1vw;
    width: 3vw;
    height: 4vh;
}

.switchButtonDisabled:disabled {
    background-color: #DDD;
    color: #555;
    border-color:#555;
    float: right;
    margin-right: 0.6vw;
    font-size: 1vw;
    width: 3vw;
    height: 4vh;
    cursor: not-allowed;
}

